version: "3.9"

services:
  frontend:
    build: ./client/my-app
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
